
<html>

<head>
	<meta name="viewport" content=
		"width=device-width,initial-scale=1">

	<style>
		.vertical-menu {
			width: 400px;
			height: 850px;
			overflow-y: auto;
		}

		.vertical-menu a {
			background-color: #eee;
			color: black;
			display: block;
			padding: 12px;
			text-decoration: none;
		}

		.vertical-menu a:hover {
			background-color: #ccc;
		}

		.vertical-menu a.active {
			background-color: #00008B;
			color: white;
		}
	</style>
</head>

<body>
<frameset cols="30%,*">
	<h1 style="color:blue; text-align: center;">
	</h1>

	
	<div class="vertical-menu">
		<a href="#" class="active">Дәрістер</a>
		<a href="1.html" target="RIGHT">Үлкен көлемді деректер туралы түсініктер. Big Data ұғымының мәні </a>
		<a href="2.html" target="RIGHT">Үлкен көлемді деректердің қолданылу жағдайы</a>
		<a href="3.html" target="RIGHT">Үлкен көлемді деректерді басқару. Үлкен көлемді деректерді басқару бағыттары, қағидаттары, кезеңдері </a>
		<a href="4.html" target="RIGHT">Үлкен көлемді деректермен жұмыс жасау технологиялары</a>
		<a href="5.html" target="RIGHT">		Үлкен көлемді деректер және деректер қоймасы. көлемді деректермен жұмыс жасау технологиялары		</a>
		<a href="6.html" target="RIGHT">		Үлкен көлемді деректерді сақтаудың заманауи технологиялары		</a>
		<a href="7.html" target="RIGHT">		Big Data Analytics және оның құралдары		</a>
		<a href="8.html" target="RIGHT">		Big Data Analytics: өңдеу және талдау әдістері	</a>
		<a href="9.html" target="RIGHT">	Data Mining негіздері. Когнитивті деректерді талдау		</a>
		<a href="10.html" target="RIGHT">		Data Mining. Тапсырмалардың классификациясы. /a>
		<a href="11.html" target="RIGHT">	Hadoop концепциясы. Hadoop концепциясының модульдері		</a>
		<a href="12.html" target="RIGHT">		Hadoop. MapReduce. Алгоритмдері /a>
		<a href="13.html" target="RIGHT">	Data Mining түсінігі. Data Mining негізгі кітапханалары. Pandas кітапханасының мүмкіндіктері		</a>
		<a href="14.html" target="RIGHT">		Желілік талдау. Желілік контроллерде үлкен көлемді деректерді 
өңдеу /a>
		<a href="15.html" target="RIGHT">	Эра-500 Контроллерінде есеп және диаграмма құру		</a>
		
	</div>
</body>

</html>