<html><head>
<title> Big data</title></head>
<body background="2.jpg">
<h2>Кіріспе</h2><p>
ХХІ ғасырда ең құнды ресурс ол - ақпарат болып табылады және оны пайдалану адам қызметінің барлық салаларында
 жаңа биіктерге жетуге мүмкіндік береді. Қазіргі таңда ақпараттың көптігі соншалық, оны дәстүрлі тәсілдермен 
 сақтау және өңдеу қиындық туғыза бастады. Сонымен қатар, ұйымдардаәртүрлі форматтарда ұсынылған 
 (мәтіндік құжаттар, бейне файлдар, машиналық кодтар) және жиі жаңартылып отыратындеректердің үлкен көлемін құрайды. 
 Осының барлығы деректердің үлккен көлемінің (Big Data) пайда болуына әкелді. <br><p>
Big Data термині жиырма жылға жуық уақыт бойы бүкіл әлемде талқыланып келеді. Өзінің қысқа өмір сүру тарихында компаниялар
 өздерінің қызметіне Big Data енгізе отырып, көптеген жұмысты оңтайландыруға мүмкіндік алды. <br><p>
Оқу құралының мақсаты: білім алушылардың үлкен көлемдегі деректерді өңдеу және талдау жүйелерін әзірлеу және пайдалану саласында кәсіби құзыреттілігін қалыптастыру. 
Бұл мақсат білім беру бағдарламасының мақсатымен, атап айтқанда, үлкен деректерді өңдеуге жауап беретін мамандандырылған
 бағдарламалық жүйелерді дамыту технологиясымен байланысты. Бұл оқу құралын меңгеру барысында білім алушылардың төмендегідей
 кәсіби міндеттерді орындауға дайындайды: <br><p>
 <ul>
 <li>	Деректерді талдау мәселесін тұжырымдау.</li>
 <li>	Деректерді алдын-ала өңдеу.</li>
 <li>Деректерді визуализациялау.</li>
 <li>	Деректердің үлкен ауқымына деректерді интеллектуалды талдау әдістерін әзірлеу, іске асыру және қолдану.</li>
 <li>Жұмыс нәтижелерін ұсыну.</li>
</ul>


«Деректерді өңдеу негіздері» оқу құралы барысында үлкен көлемді дерек-тердің негіздері, 
ондағы проблемалар, оны басқару мазмұны мен міндеттері, үлкен көлемді деректермен жұмыс технологиясы, 
Big Data Analytics, Data Mi-ning негіздері, Hadoop концепциясы, MapReducе, желілік талдау және желілік 
контроллерде үлкен көлемді деректерді өңдеу сияқты тақырыптар бойынша дәрістер, ал практикалық жұмыс ретінде 
R программалау тілінің негіздері, яғни оны орнату мен баптаудан бастап, статистикалық болжамдар жасау, оны визуализациялау сияқты жұмыстар қарастырылады. <br><p>
Нәтижесінде білім алушыларда:<br><p>
 <ul>
 <li>үлкен деректер құбылысы туралы, олардың пайда болуымен байла-нысты ғылыми және техникалық проблемалар мен мүмкіндіктер туралы,
 сақтау технологиялары саласындағы трендтер туралы түсінік </li>
 <li>	үлкен деректер трендінің пайда болу себептерін, үлкен деректерді талдау процестерін, үлкен деректер массивтерін 
 өңдеудің негізгі тәсілдерін, R тілінің негіздерін білу;</li>
 <li>	алгоритмдерді MapReduce парадигмасында тұжырымдай білу, үлкен деректерді талдаудың тиісті құралын таңдау, үлкен 
 деректерді сақтаудың қолайлы технологиясын таңдау қалыптасады.</li>

</body>
</html>
